version: "3.9"
services:
  frontend:
    build: "./frontend"
    depends_on:
      - backend
    ports:
      - 8000:3000
    volumes:
      - './frontend:/opt/app'
      - /opt/app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WDS_SOCKET_PORT=0
    command: sh -c "npm rebuild esbuild && npm run dev"

  backend:
    build: "./backend"
    depends_on:
      - db
    environment:
      - DB_URI=mysql://root:password@db/db?charset=UTF8
    ports:
      - 8101:8101
    volumes:
      - ./backend:/opt/app

  db:
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=db
    image: mysql:8.1
    ports:
      - 0.0.0.0:8201:3306